@charset "utf-8";
/* CSS Document */
p, h1, #menu input, #underFooter input{
	color:#E40128;
}
#bodyLogged{
	background-color:red;
}
#footer, #header, #menu, #content, #underFooter{	
	background-color:#FCD;
}
#menu li:hover{
	background-color:#936;
}
#content tr.resultBoxRow{
	background-color:#FC94CD;
	color:#000;
}
#content .resultBoxRow:hover{
	background-color:#933;
}
#content #concMail{
	background-color:#F9C;
}
#content #writeMailForm{
	background-color:#F9C;
}
#content #warningsWithSending *{
	color:#00F;
}
#content tr th{
	background-color: #936;
	color:#f5f5f5;
}




/* by word */
.red{
	color:blue;
}





/* mobile */
div#underFooter{
	background-color:#F9F;
}
#underFooter li *:hover{
	background-color:#F66;
}




/* borders */
#content .resultBoxCell{
	border-top:solid #909 1px;
}
#content #concMail{
	border:solid 1px #F66;
}